*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 150px;
    margin-left: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}

#screen{
    background-color: black;
}

#lives{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 150px;
    height: 30px;
    border: 1px solid blue;
    background-color: white;
}

#cherry{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 150px;
    height: 30px;
    border: 1px solid blue;
    background-color: white;
}