@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}


body{
    margin-top: 150px;
    margin-left: 50px;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}


#screen{
    background-color: black;
}

#lives{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 200px;
    height: 30px;
    color: white;
    font-family: 'Lexend Deca';
}

#cherry{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 200px;
    height: 30px;
    color: white;
    font-family: 'Lexend Deca';
}

.scores{
    display: flex;
    gap: 12px;
}